<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>

    <style>

body{
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
#main-display{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: start;
    transition: all 300ms ease-in-out;

    margin: 0;
}
.row-item{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    width: 100vw;
    border-bottom: 1px solid black;
    transition: all 300ms ease-in-out;
    position: relative;
    min-height: 0;
    overflow: hidden;
}

#alarm-set-row{
    height: fit-content;
}

#alarm-row{
    flex:3;
}

#song-row{
    flex:8;
}


#song-img{


    padding-top: 5vh;

}

#alarm-text{
    font-size: 4em;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: all 300ms ease-in-out;
}




#alarm-left, #alarm-right{
    position: relative;
    display: flex;
    flex-direction: column;
}



#alarm-hour, #alarm-min{
    margin: 0;
   
    padding: 0;
}

#inc-hour, #inc-min, #dec-hour, #dec-min{
    font-size: 3em;
    margin: 0;
    padding: 0;
    cursor: pointer;
    display: none;
    font-size: 1em;
}

#inc-hour{

}

#inc-min{

}

#dec-hour{
    transform: rotate(180deg);
}

#dec-min{
    transform: rotate(180deg);

}

#cancel_edit_btn, #auto_schedule_btn{


    position: absolute;
    display: hidden;
    bottom: 20vh;
    opacity: 0;

    height: 50px;
    width: 75px;
    background-color: unset;
    border-radius: 20px;
    transition: all 900ms ease-in-out;

    border: 1px solid black;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    color: black;
    text-align: center;

}

#auto_schedule_btn{

    right: 10vw;


}

#cancel_edit_btn{
    left: 10vw;

}





    </style>


<script>

    var alarm_row_expanded = false;
    var time = {
        hour: 6,
        min: 30
    }

    function toggle_alarm_row(){
        if(alarm_row_expanded){
            shrink_alarm_row();
            alarm_row_expanded = false;
        }else{
            expand_alarm_row();
            alarm_row_expanded = true;
        }
    }

    function expand_alarm_row(){

        const alarm_row = document.getElementById("alarm-row");
        const alarm_set_row = document.getElementById("alarm-set-row");
        const alarm_text = document.getElementById("alarm-text");
        const song_row = document.getElementById("song-row");
        const inc_hour = document.getElementById("inc-hour");
        const inc_min = document.getElementById("inc-min");
        const dec_hour = document.getElementById("dec-hour");
        const dec_min = document.getElementById("dec-min");
        const cancel_edit_btn = document.getElementById("cancel_edit_btn");
        const auto_schedule_btn = document.getElementById("auto_schedule_btn");


        song_row.style.flex = "0";
        alarm_row.style.flex = "10";
        alarm_text.style.padding = "5vh";
        alarm_text.style.height = "40vh";
        

        inc_hour.style.display = "block";
        inc_min.style.display = "block";
        dec_hour.style.display = "block";
        dec_min.style.display = "block";

        cancel_edit_btn.style.display = "block";
        auto_schedule_btn.style.display = "block";
        cancel_edit_btn.style.opacity = "1";
        auto_schedule_btn.style.opacity = "1";
        cancel_edit_btn.style.transition = "all 900ms ease-in-out";
        auto_schedule_btn.style.transition = "all 900ms ease-in-out";




    }

    function shrink_alarm_row(){
        const alarm_row = document.getElementById("alarm-row");
        const alarm_set_row = document.getElementById("alarm-set-row");
        const alarm_text = document.getElementById("alarm-text");

        const song_row = document.getElementById("song-row");
        const inc_hour = document.getElementById("inc-hour");
        const inc_min = document.getElementById("inc-min");
        const dec_hour = document.getElementById("dec-hour");
        const dec_min = document.getElementById("dec-min");
        const cancel_edit_btn = document.getElementById("cancel_edit_btn");
        const auto_schedule_btn = document.getElementById("auto_schedule_btn");

        song_row.style.flex = "8";
        alarm_row.style.flex = "3";
        alarm_text.style.padding = "";
        alarm_text.style.height = "";

        inc_hour.style.display = "none";
        inc_min.style.display = "none";
        dec_hour.style.display = "none";
        dec_min.style.display = "none";


        cancel_edit_btn.style.display = "hidden";
        auto_schedule_btn.style.display = "hidden";


        cancel_edit_btn.style.opacity = "0";
        auto_schedule_btn.style.opacity = "0";
        auto_schedule_btn.style.transition = "all 100ms ease-in-out";
        cancel_edit_btn.style.transition = "all 100ms ease-in-out";



    }

    function update_clock(){

        const hour = document.getElementById("alarm-hour");
        const min = document.getElementById("alarm-min");
        let s_hour = time.hour;
        let s_min = time.min;
        if(time.hour < 10){
            s_hour = "0" + time.hour;
        }
        if(time.min < 10){
            s_min = "0" + time.min;
        }
        hour.innerHTML = s_hour;
        min.innerHTML = s_min;
    }


    function inc_clock_hour(){

        time.hour++;

        

    }

    function inc_clock_min(){
        time.min+=5;
    }

    function dec_clock_hour(){
        time.hour--;
    }

    function dec_clock_min(){
        time.min-=5;
    }

    document.addEventListener("DOMContentLoaded", ()=>{

        const alarm_row = document.getElementById("alarm-row");
        const alarm_set_row = document.getElementById("alarm-set-row");
        const song_row = document.getElementById("song-row");

        const inc_hour = document.getElementById("inc-hour");
        const inc_min = document.getElementById("inc-min");
        const dec_hour = document.getElementById("dec-hour");
        const dec_min = document.getElementById("dec-min");

        alarm_row.addEventListener("click", toggle_alarm_row);

        inc_hour.addEventListener("click", (e)=>{

            inc_clock_hour();
            update_clock();
            e.stopPropagation();
        });

        inc_min.addEventListener("click", (e)=>{

            inc_clock_min();
            update_clock();
            e.stopPropagation();
        });

        dec_hour.addEventListener("click", (e)=>{

            dec_clock_hour();
            update_clock();
            e.stopPropagation();
        });

        dec_min.addEventListener("click", (e)=>{

            dec_clock_min();
            update_clock();
            e.stopPropagation();
        });

        


    })



</script>
</head>
<body>

    <div id="main-display">


        <div id="alarm-set-row" class="row-item">

            <h1>Alarm<br>Set</h1>
            

        </div>

        <div id="alarm-row" class="row-item">

            <button id="cancel_edit_btn">X</button>
            <button id="auto_schedule_btn">AUTO</button>

            <div id="alarm-text">
                <div id="alarm-left">
                    <h1 id="inc-hour">^</h1>
                    <h1 id="alarm-hour">06</h1>
                    <h1 id="dec-hour" >^</h1>


                
                </div>

                <h1 style=" margin:0;">:</h1> 

                <div id="alarm-right">
                    <h1 id="inc-min">^</h1>

                    <h1 id="alarm-min">30</h1>
                    <h1 id="dec-min">^</h1>


                </div>

            </div>


        </div>

        <div id="song-row" class="row-item">

            <img id="song-img" src="https://media.timeout.com/images/102187439/image.jpg" alt="song-img" height="200px" width="200px" style="object-fit:cover;">
            <h2 id="song-name">Wesleys Theory</h2>
            <h3 id="song-artist">Kendrick Lamar</h3>
        </div>



    </div>

    
</body>
</html>