<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Main</title>

    <style>

body{
    margin: 0;
    height: 100svh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
#main-display{
    display: flex;
    flex-direction: column;
    height: 100svh;
    width: 100%;
    align-items: center;
    justify-content: start;
    transition: all 300ms ease-in-out;

    margin: 0;
}
.row-item{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    max-width: 100vw;
    width:100%;
    border-bottom: 1px solid black;
    transition: all 300ms ease-in-out;
    position: relative;
    min-height: 0;
    overflow: hidden;
    display: flex;
}

#alarm-set-row{
    height: fit-content;
    background-color: rgb(237, 237, 237);
}

#alarm-row{
    flex:3;
}

#song-row{
    flex:8;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}


#song-img{


    padding-top: 5svh;
    transition: all 300ms ease-in-out;
}

#song-name{
    transition: all 300ms ease-in-out;

}

#song-artist{
    transition: all 300ms ease-in-out;

}

#current-song-container{
    transition: all 300ms ease-in-out;
    flex: 2;
}

#more-songs-container{
    transition: all 300ms ease-in-out;

    flex: 3;
    max-width: 0;
    overflow-y: scroll;

    border-left: 1px solid black;
    height: 100%;
}

#alarm-text{
    font-size: 3em;
    font-family: "Courier New";
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: all 300ms ease-in-out;

}




#alarm-left, #alarm-right, #alarm-am-pm{
    position: relative;
    display: flex;
    flex-direction: column;
}

#alarm-am-pm{
    font-size: x-large;
    margin-left: 4vw;
}



#alarm-hour, #alarm-min{
    margin: 0;
   
    padding: 0;
}

#inc-hour, #inc-min, #dec-hour, #dec-min, #up-am-pm, #down-am-pm{
    font-size: 3em;
    margin: 0;
    padding: 0;
    cursor: pointer;
    display: none;
    font-size: 1em;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    touch-action: manipulation;
}


#dec-hour, #dec-min, #down-am-pm{
    transform: rotate(180deg);
}

#cancel_edit_btn, #auto_schedule_btn, #confirm-song-btn, #cancel-song-btn{


    position: absolute;
    display: hidden;
    opacity: 0;

    height: 50px;
    width: 75px;
    background-color: unset;
    border-radius: 20px;
    transition: all 900ms ease-in-out;

    border: 1px solid black;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    color: black;
    text-align: center;

    z-index: 5;

}

#auto_schedule_btn{

    right: 10vw;
    bottom: 20svh;



}

#cancel_edit_btn{
    left: 10vw;
    bottom: 20svh;


}

#confirm-song-btn{

    left: 10vw;
    bottom: 20svh;
    padding: 0;



}

#confirm-song-btn:active, #cancel-song-btn:active{
    transition: background-color 20ms ease-in-out !important;
}

#confirm-song-btn:active{
    background-color: rgb(0, 113, 0);
}

#cancel-song-btn:active{
    background-color: rgb(113, 0, 0);
}

#cancel-song-btn{

    left: 10vw;
    padding: 0;

    bottom: 10svh;

    
}


#song-list{
    margin-top: 5svh;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 3svh;
    padding-bottom: 3svh;
    border-top: 1px solid black;

}

.song-li-inner-container{
    display: grid;
    grid-template-columns: 50px 1fr;
    border-bottom: 1px solid black;
    align-items: center;
    padding-top: 1svh;
    padding-bottom: 1svh;
    position: relative;


}

.song-li-ui{
    position: absolute;
    opacity: 0;
    height:40px;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    left: 0;
    right: 0;
    z-index: 5;
    transition: all 300ms ease-in-out;
    background-color: white;

}

.song-li-ui:hover{  
    cursor: pointer;
    opacity: 0.5;
}

#song-search-bar{

    margin-top: 5svh;
    width: 50vw;
    height: 6svh;

    text-align: center;
    font-size: 1.5em;
    font-family: "Arial";


}
.song-li-img-container{
    height: 40px;
    width: 40px;
    background-color: rgb(205, 205, 205);
    position: relative;
    z-index: 1;
    padding: 15%;
}

.song-img{
    height:40px;
    width: 40px;
    object-fit: cover;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    left: 0;
    right: 0;

    z-index: 1;
}
.song-name{

    text-align: start;
    padding-left: 3vw;

}







    </style>


<script>

    var alarm_row_expanded = false;
    var song_row_expanded = false;
    var alarm_set = false;
    var time = {
        hour: 6,
        min: 30,
        meridium: "AM"
    }
    var time_cache = {
        hour: 6,
        min: 30,
        meridium: "AM"
    }

    var song = {
        name: "Loading...",
        artist: "Loading...",
        cover_src: "https://media.timeout.com/images/102187439/image.jpg",
        uri: ""
    }

    var song_cache = null

    copy_time(time, time_cache)

    function update_server_api(){

        let alarm = {
            enabled: alarm_set,
            time: time,
            song: song,

        }
        fetch("/update_server", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(alarm)
        })
    }

    function update_self_api(){
        fetch("/update_client", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            }
        }).then(response => response.json()).then(data => {
            if(data.enabled){
                set_alarm();
            }else{
                disable_alarm();
            }
            copy_time(data.time, time);
            copy_time(data.time, time_cache);
            update_clock();
            song = data.song;
            load_server_song(song)
        })
    }

    function toggle_alarm_set(){

        if(alarm_set){
            disable_alarm();
        }else{
            set_alarm();
        }
        update_server_api();


    }

    function set_alarm(){
        alarm_set = true;
        const alarm_set_text = document.getElementById("alarm-set-text");
        alarm_set_text.innerHTML = "Alarm\n Enabled";
        alarm_set_text.style.color = "green";

    }

    function disable_alarm(){
        alarm_set = false;
        const alarm_set_text = document.getElementById("alarm-set-text");
        alarm_set_text.innerHTML = "Alarm\n Disabled";
        alarm_set_text.style.color = "red";

    }

    preview_audio = null;
    current_song = null;

    function stop_song_preview(){
        if(preview_audio != null)
            preview_audio.pause();
    }

    function play_song_preview(preview_url){
        preview_audio = new Audio(preview_url);
        preview_audio.play();
    }

    function toggle_alarm_row(){
        if(alarm_row_expanded){
            shrink_alarm_row();
        }else{
            expand_alarm_row();
        }
        update_server_api();
    }

    function expand_alarm_row(){

        alarm_row_expanded = true;
        const alarm_row = document.getElementById("alarm-row");
        const alarm_set_row = document.getElementById("alarm-set-row");
        const alarm_text = document.getElementById("alarm-text");
        const song_row = document.getElementById("song-row");
        const inc_hour = document.getElementById("inc-hour");
        const inc_min = document.getElementById("inc-min");
        const dec_hour = document.getElementById("dec-hour");
        const dec_min = document.getElementById("dec-min");
        const up_am_pm = document.getElementById("up-am-pm");
        const down_am_pm = document.getElementById("down-am-pm");
        const cancel_edit_btn = document.getElementById("cancel_edit_btn");
        const auto_schedule_btn = document.getElementById("auto_schedule_btn");


        song_row.style.flex = "0";
        alarm_row.style.flex = "10";
        alarm_text.style.padding = "5svh";
        alarm_text.style.height = "40svh";
        

        inc_hour.style.display = "block";
        inc_min.style.display = "block";
        dec_hour.style.display = "block";
        dec_min.style.display = "block";
        up_am_pm.style.display = "block";
        down_am_pm.style.display = "block";

        cancel_edit_btn.style.display = "block";
        auto_schedule_btn.style.display = "block";
        cancel_edit_btn.style.opacity = "1";
        auto_schedule_btn.style.opacity = "1";
        cancel_edit_btn.style.transition = "all 900ms ease-in-out";
        auto_schedule_btn.style.transition = "all 900ms ease-in-out";




    }

    function shrink_alarm_row(){

        alarm_row_expanded = false;
        copy_time(time, time_cache);

        const alarm_row = document.getElementById("alarm-row");
        const alarm_set_row = document.getElementById("alarm-set-row");
        const alarm_text = document.getElementById("alarm-text");

        const song_row = document.getElementById("song-row");
        const inc_hour = document.getElementById("inc-hour");
        const inc_min = document.getElementById("inc-min");
        const dec_hour = document.getElementById("dec-hour");
        const dec_min = document.getElementById("dec-min");
        const up_am_pm = document.getElementById("up-am-pm");
        const down_am_pm = document.getElementById("down-am-pm");
        const cancel_edit_btn = document.getElementById("cancel_edit_btn");
        const auto_schedule_btn = document.getElementById("auto_schedule_btn");

        song_row.style.flex = "8";
        alarm_row.style.flex = "3";
        alarm_text.style.padding = "";
        alarm_text.style.height = "";

        inc_hour.style.display = "none";
        inc_min.style.display = "none";
        dec_hour.style.display = "none";
        dec_min.style.display = "none";
        up_am_pm.style.display = "none";
        down_am_pm.style.display = "none";


        cancel_edit_btn.style.display = "hidden";
        auto_schedule_btn.style.display = "hidden";


        cancel_edit_btn.style.opacity = "0";
        auto_schedule_btn.style.opacity = "0";
        auto_schedule_btn.style.transition = "all 100ms ease-in-out";
        cancel_edit_btn.style.transition = "all 100ms ease-in-out";



    }

    function update_clock(){

        const hour = document.getElementById("alarm-hour");
        const min = document.getElementById("alarm-min");
        const am_pm = document.getElementById("am-pm");
        let s_hour = time.hour;
        let s_min = time.min;
        if(time.hour < 10){
            s_hour = "0" + time.hour;
        }
        if(time.min < 10){
            s_min = "0" + time.min;
        }
        hour.innerHTML = s_hour;
        min.innerHTML = s_min;
        am_pm.innerHTML = time.meridium;

    }

    function populate_song_search_list(songs){
        console.log("Populating song list");
        console.log(songs);
        let tracks = songs.tracks.items;
        const song_search_list = document.getElementById("song-search-list");
        //foreach track 
        clear_song_search_list();
        for(let i = 0; i < tracks.length; ++i){


            add_listed_song(tracks[i].name, tracks[i].album.images[2].url, tracks[i].preview_url, tracks[i])


        }

    }

    function copy_time(src, dst){

        dst.hour = src.hour;
        dst.min = src.min;
        dst.meridium = src.meridium;

    }


    function inc_clock_hour(){

        time.hour++;
        if(time.hour > 12){
            time.hour = 1;
            toggle_meridiem();
        }

        

    }

    function inc_clock_min(){
        time.min+=5;
        if(time.min > 55){
            time.min = 0;
            inc_clock_hour();
        }
    }

    function dec_clock_hour(){
        time.hour--;
        if(time.hour < 1){
            time.hour = 12;
            toggle_meridiem();
        }
    }

    function dec_clock_min(){
        time.min-=5;
        if(time.min < 0){
            time.min = 55;
            dec_clock_hour();
        }
    }

    function toggle_meridiem(){
        if(time.meridium == "AM"){
            time.meridium = "PM";
        }else{
            time.meridium = "AM";
        }
        update_server_api();
    }

    function toggle_song_row(){

        if(song_row_expanded){
            shrink_song_row();
        }else{
            expand_song_row();
        }
        update_server_api();

    }

    function load_server_song(server_song){
        const song_img = document.getElementById("song-img");
        const song_name = document.getElementById("song-name");
        const song_artist = document.getElementById("song-artist");

        song_img.src = server_song.cover_src
        song_name.innerHTML = server_song.name;
        song_artist.innerHTML = server_song.artist;
    }

    function shrink_song_row(){
        stop_song_preview();
        song_row_expanded = false;
        const song_row = document.getElementById("song-row");
        const current_song_container = document.getElementById("current-song-container");
        const more_songs_container = document.getElementById("more-songs-container");
        const song_img = document.getElementById("song-img");
        const song_name = document.getElementById("song-name");
        const song_artist = document.getElementById("song-artist");
        const confirm_song_btn = document.getElementById("confirm-song-btn");
        const cancel_song_btn = document.getElementById("cancel-song-btn");

        more_songs_container.style.maxWidth = "0px";

        song_row.style.alignItems = "center";

        song_img.style.width = "200px";
        song_img.style.height = "200px";
        song_name.style.fontSize = "2em";
        song_artist.style.fontSize = "1.5em";

        confirm_song_btn.style.transition = "all 3ms ease-in-out";
        cancel_song_btn.style.transition = "all 3ms ease-in-out";
        confirm_song_btn.style.display = "hidden";
        cancel_song_btn.style.display = "hidden";
        confirm_song_btn.style.opacity = "0";
        cancel_song_btn.style.opacity = "0";



    }

    function expand_song_row(){
        song_row_expanded = true;
        const song_row = document.getElementById("song-row");
        const current_song_container = document.getElementById("current-song-container");
        const more_songs_container = document.getElementById("more-songs-container");
        const song_img = document.getElementById("song-img");
        
        const song_name = document.getElementById("song-name");
        const song_artist = document.getElementById("song-artist");

        const confirm_song_btn = document.getElementById("confirm-song-btn");
        const cancel_song_btn = document.getElementById("cancel-song-btn");

        more_songs_container.style.maxWidth = "100%";
        song_row.style.alignItems = "flex-start";

        song_img.style.width = "100px";
        song_img.style.height = "100px";
        song_name.style.fontSize = "1.5em";
        song_artist.style.fontSize = "1em";

        confirm_song_btn.style.display = "block";
        cancel_song_btn.style.display = "block";
        confirm_song_btn.style.opacity = "1";
        cancel_song_btn.style.opacity = "1";
        confirm_song_btn.style.transition = "all 900ms ease-in-out";
        cancel_song_btn.style.transition = "all 900ms ease-in-out";
    }

    function clear_song_search_list(){
        const song_search_list = document.getElementById("song-list");
        song_search_list.innerHTML = "";
    }

    function add_listed_song(song_name,img_href, sample_href, song_obj){

        const song_list = document.getElementById("song-list");
        const song_div = document.createElement("div");
        const song_img = document.createElement("img");
        const song_name_div = document.createElement("div");
        const song_img_container = document.createElement("div");
        const song_ui = document.createElement("img");

        song_img_container.classList.add("song-li-img-container");
        song_img.src = img_href;
        song_name_div.innerHTML = song_name;
        song_img.classList.add("song-img");
        song_name_div.classList.add("song-name");

        song_div.classList.add("song-li-inner-container");
        song_img_container.appendChild(song_img);
        song_div.appendChild(song_img_container);
        song_div.appendChild(song_name_div);
        if(sample_href != null){
            song_div.addEventListener("click", ()=>{
                console.log("song clicked");

                if(current_song == song_div){
                    current_song.getElementsByClassName("song-li-ui")[0].src = "play-xxl.png";
                    current_song = null;
                    song_ui.style.opacity = "";
                    stop_song_preview();

                }else{
                    select_song(song_obj);

                    if(current_song != null){
                        let other_song = current_song.getElementsByClassName("song-li-ui")[0]
                        other_song.src = "play-xxl.png";
                        other_song.style.opacity = "";
                    }
                    current_song = song_div;
                    song_ui.src = "pause-xxl.png";
                    song_ui.style.opacity = "0.5";
                    stop_song_preview();
                    play_song_preview(sample_href);
                }

            });
        }


        function select_song(song_choice){

            const song_img = document.getElementById("song-img");
            const song_name = document.getElementById("song-name");
            const song_artist = document.getElementById("song-artist");


            console.log(song_choice);

            song_img.src = song_choice.album.images[0].url;
            song_name.innerHTML = song_choice.name
            song_artist.innerHTML = song_choice.artists[0].name;

            song.artist = song_choice.artists[0].name;
            song.name = song_choice.name;
            song.cover_src = song_choice.album.images[0].url;
            song.uri = song_choice.uri;

        }


        song_ui.classList.add("song-li-ui");

        song_ui.src = "play-xxl.png";

        song_img_container.appendChild(song_ui);



        song_list.appendChild(song_div);

    }

    document.addEventListener("DOMContentLoaded", ()=>{

        //detect if mobile device 
        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {

            //Mobile Device

        }else{
            alert("This app is not optimized for desktop. Please use a mobile device for the best experience.")
        }

        const alarm_row = document.getElementById("alarm-row");
        const alarm_set_row = document.getElementById("alarm-set-row");
        const song_row = document.getElementById("song-row");

        const inc_hour = document.getElementById("inc-hour");
        const inc_min = document.getElementById("inc-min");
        const dec_hour = document.getElementById("dec-hour");
        const dec_min = document.getElementById("dec-min");
        const up_am_pm = document.getElementById("up-am-pm");
        const down_am_pm = document.getElementById("down-am-pm");
        const alarm_set_text = document.getElementById("alarm-set-text");
        const cancel_edit_btn = document.getElementById("cancel_edit_btn");
        const auto_schedule_btn = document.getElementById("auto_schedule_btn");
        const confirm_song_btn = document.getElementById("confirm-song-btn");
        const cancel_song_btn = document.getElementById("cancel-song-btn");
        const more_songs_container = document.getElementById("more-songs-container");

        update_self_api();

        alarm_row.addEventListener("click", toggle_alarm_row);

        inc_hour.addEventListener("click", (e)=>{

            inc_clock_hour();
            update_clock();
            e.stopPropagation();
        });

        inc_min.addEventListener("click", (e)=>{

            inc_clock_min();
            update_clock();
            e.stopPropagation();
        });

        dec_hour.addEventListener("click", (e)=>{

            dec_clock_hour();
            update_clock();
            e.stopPropagation();
        });

        dec_min.addEventListener("click", (e)=>{

            dec_clock_min();
            update_clock();
            e.stopPropagation();
        });

        alarm_set_row.addEventListener("click", (e)=>{
            toggle_alarm_set();
            e.stopPropagation();
        });

        up_am_pm.addEventListener("click", (e)=>{
            toggle_meridiem();
            update_clock();
            e.stopPropagation();
        });

        down_am_pm.addEventListener("click", (e)=>{
            toggle_meridiem();
            update_clock();
            e.stopPropagation();
        });

        cancel_edit_btn.addEventListener("click", (e)=>{
            
            console.log(11)
            copy_time(time_cache, time)
            update_clock();
            shrink_alarm_row();
            e.stopPropagation();
        });

        auto_schedule_btn.addEventListener("click", (e)=>{
            //TODO
            alert("Not implemented yet")
            e.stopPropagation();
        });

        confirm_song_btn.addEventListener("click", (e)=>{
            try{
                song_cache = song;
                clear_song_search_list();
                shrink_song_row();
                update_server_api();
            }catch(e){
                console.log(e);
            }


            e.stopPropagation();
        });

        cancel_song_btn.addEventListener("click", (e)=>{
            e.stopPropagation();
        });

        song_row.addEventListener("click", (e)=>{
            //TODO
            toggle_song_row();

            e.stopPropagation();
        });


        more_songs_container.addEventListener("click", (e)=>{
            //TODO
            e.stopPropagation();
        });


        //onkeypress
        document.addEventListener("keypress", (e)=>{
            if(e.key == "Enter"){
                const song_search_bar = document.getElementById("song-search-bar");

                //if search bar is focused
                if(song_search_bar == document.activeElement){
                    //TODO
                    console.log(song_search_bar.value)
                    let search_val = song_search_bar.value;
                    stop_song_preview();
                    clear_song_search_list();
                    //TODO TEMP REMOVE
                    add_listed_song("Searching", "/loading.gif")
                    fetch('/search_song', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            search_string: search_val
                        })
                    }).then((response)=>{
                        return response.json();
                    }).then((data)=>{
                        populate_song_search_list(data);
                    })
                }
            }
        });
        


    })



</script>
</head>
<body>

    <div id="main-display">


        <div id="alarm-set-row" class="row-item">

            <h1 id="alarm-set-text">Alarm<br>Set</h1>
            

        </div>

        <div id="alarm-row" class="row-item">

            <button id="cancel_edit_btn">X</button>
            <button id="auto_schedule_btn">AUTO</button>

            <div id="alarm-text">
                <div id="alarm-left">
                    <h1 id="inc-hour">^</h1>
                    <h1 id="alarm-hour">06</h1>
                    <h1 id="dec-hour" >^</h1>


                
                </div>

                <h1 style=" margin:0;">:</h1> 

                <div id="alarm-right">
                    <h1 id="inc-min">^</h1>

                    <h1 id="alarm-min">30</h1>
                    <h1 id="dec-min">^</h1>


                </div>

                <div id="alarm-am-pm">
                    
                    <h1 id="up-am-pm">^</h1>

                    <p id="am-pm">AM</p>
                
                    <h1 id="down-am-pm">^</h1>

                </div>

            </div>


        </div>

        <div id="song-row" class="row-item">
            <div id="current-song-container">
                <img id="song-img" src="https://media.timeout.com/images/102187439/image.jpg" alt="song-img" height="200px" width="200px" style="object-fit:cover;">
                <h2 id="song-name">Wesleys Theory</h2>
                <h3 id="song-artist">Kendrick Lamar</h3>
            </div>

            <button id="confirm-song-btn">Confirm</button>
            <button id="cancel-song-btn">Cancel</button>

            <div id="more-songs-container">
                <input type="text" id="song-search-bar" placeholder="Search for a song">
                <div id="song-list">

                </div>
                

            </div>

        </div>



    </div>

    
</body>
</html>