<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>

    <style>

body{
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
#main-display{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: start;
    margin: 0;
}
.row-item{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    width: 100vw;
    border-bottom: 1px solid black;
    transition: all 300ms ease-in-out;
    position: relative;
}

#song-img{


    padding-top: 15vh;

}

#alarm-text{
    font-size: 6em;
    margin: 0;
    padding: 0;
}


#inc-hour, #inc-min, #dec-hour, #dec-min{
    font-size: 3em;
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: absolute;
    display: none;
}

#inc-hour{



}

#inc-min{

}

#dec-hour{

}

#dec-min{

}





    </style>


<script>

    function expand_alarm_row(){

        const alarm_row = document.getElementById("alarm-row");
        const alarm_set_row = document.getElementById("alarm-set-row");
        const song_row = document.getElementById("song-row");

        song_row.style.height = "0vh";
        alarm_row.style.flex = "5";
        alarm_row.style.paddingTop = "10vh";



    }

    document.addEventListener("DOMContentLoaded", ()=>{

        const alarm_row = document.getElementById("alarm-row");
        const alarm_set_row = document.getElementById("alarm-set-row");
        const song_row = document.getElementById("song-row");

        alarm_row.addEventListener("click", expand_alarm_row);



    })



</script>
</head>
<body>

    <div id="main-display">


        <div id="alarm-set-row" class="row-item">

            <h1>Alarm<br>Set</h1>
            

        </div>

        <div id="alarm-row" class="row-item">

            <h1 id="inc-hour">^</h1>
            <h1 id="inc-min">^</h1>
            <h1 id="dec-hour" >^</h1>
            <h1 id="dec-min">^</h1>

            <h1 id="alarm-text">06:30</h1>

        </div>

        <div id="song-row" class="row-item" style="height: 100vh; width: 100vw;">

            <img id="song-img" src="https://media.timeout.com/images/102187439/image.jpg" alt="song-img" height="200px" width="200px" style="object-fit:cover;">
            <h2 id="song-name">Wesleys Theory</h2>
            <h3 id="song-artist">Kendrick Lamar</h3>
        </div>



    </div>

    
</body>
</html>