<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>

    <style>

body{
    margin: 0;
    height: 100vh;
    overflow: hidden;
}
#main-display{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: start;
    margin: 0;
}
.row-item{
    align-items: center;
    justify-content: center;
    text-align: center;
    height: fit-content;
}






    </style>
</head>
<body>

    <div id="main-display">


        <div class="row-item">

            <h1>Alarm<br>Set</h1>
            

        </div>

        <div class="row-item">

            <h1>Item 2</h1>

        </div>

        <div class="row-item">

            <h1>Item 3</h1>

        </div>



    </div>

    
</body>
</html>